@font-face {
    font-family: "TimerFont";
    src: url("fonts/CursedTimerUlil-Aznm.ttf");
}


body {
    margin: 0;
    background-color: #1b244a;
    text-align: center;


}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2em;
}

.score-el {
    height: 120px;
    width: 155px;
    background-color: #080001;
    border-radius: 5px;
    margin: 0;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 2em;
    color: #F94F6D;
    align-content: center;
}

#home-score {}

h3 {
    margin: 1rem;
}


.score-btns {
    margin-top: 5px;
}

.score-btn {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 8px 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

.score-btn:hover {
    transform: scale(1.05);
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newgame-btn {
    margin: 100px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 8px 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border-radius: 10px;
    transition: all 0.2s ease-in;

}

#newgame-btn:hover {
    transform: scale(1.05);
}